<section id="Info">
  <h1 class="display-4 text-center my-4"> <%= t '.title' %> </h1>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div id="Tags" class="row mb-1 gx-2 gy-2">
          <% @tags.each do |tag| %>
            <div class="col-auto">
              <span class="badge bg-info rounded-pill text-dark"><%= tag.name %></span>
            </div>
          <% end %>
        </div>
        <div class="card">
          <% if @beverage.image.attached? %>
            <%= image_tag @beverage.image, class: 'card-img-top img-fluid', style: 'height: 400px; object-fit: cover;' %>
          <% else %>
            <div class="card-img-top text-center bg-light" style="height: 200px;">
              <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
            </div>
          <% end %>
          <div class="card-header text-center">
            <h2><%= @beverage.name %></h2>
          </div>
          <div class="card-body">
            <p class="card-text">
              <strong><%=Beverage.human_attribute_name :description%>:</strong> <%= @beverage.description %>
            </p>

            <p class="card-text">
              <strong><%=Beverage.human_attribute_name :calories%>:</strong> <%= @beverage.calories %> cal
            </p>

            <p class="card-text">
              <% if @beverage.alcoholic %>
                <strong><%=Beverage.human_attribute_name :alcoholic%></strong> 
              <% end %>
            </p>
          </div>

          <div class="d-flex card-footer text-center">
            <%= link_to t('.edit'), edit_establishment_beverage_path(@establishment, @beverage), class: 'btn btn-sm btn-outline-dark mx-1' %>
            <button type="button" class="btn btn-sm btn-outline-dark mx-1" data-bs-toggle="modal" data-bs-target="#tagModal">
              <%= t'.add_tag'%>
            </button>
            <%= button_to t('.delete'), establishment_beverage_path(@establishment, @beverage), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-sm btn-outline-danger mx-1' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Tags">
  <div class="d-flex align-items-center ms-3 mb-3">
    <h3 class="display-4 text-center my-4"> <%= t '.tag_title' %> </h3>
    <button type="button" class="btn btn-outline-dark ms-3 mt-3" data-bs-toggle="modal" data-bs-target="#tagModal">
      Adicionar um Marcador
    </button>
  </div>

  <div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tagModalLabel">Selecione um Marcador</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <% Tag.all.each do |tag| %>
              <div class="col-6 col-md-4 mb-2">
                <!--atualizar esse link -->
                <%= button_to tag.name, add_tag_establishment_item_path(@establishment, @beverage, tag_id: tag.id), method: :post, class: 'btn btn-sm btn-outline-info w-100' %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="Portions">
  <div class="d-flex align-items-center ms-3 mb-3">
    <h3 class="display-4 text-center my-4"> <%= t '.portion_title' %> </h3>
    <%= link_to t('.add_new_portion'), new_establishment_beverage_portion_path(@establishment, @beverage), class: 'btn btn-outline-dark ms-3 mt-3' %>
  </div>

  <div class="row">
    <% @portions.each do |portion| %>
      <div class="col-md-4">
        <div class="d-flex justify-content-center mb-2">
          <% if portion.active %>
            <%= button_to Portion.human_attribute_name(:active), set_unactive_establishment_beverage_portion_path(@establishment, @beverage, portion), method: :patch, class:"badge bg-success fs-5"%>
          <% else %>
            <%= button_to t('.not_active'), set_active_establishment_beverage_portion_path(@establishment, @beverage, portion), method: :patch, class:"badge bg-danger fs-5"%>
          <% end %>
        </div>
        <div class="card mb-4 <%= 'bg-light text-muted' unless portion.active %>">
          <%= link_to establishment_beverage_portion_path(@establishment, @beverage, portion) do %>
            <div class="card-body">
              <% if portion.image.attached? %>
                <%= image_tag portion.image, class: 'card-img-top img-fluid', style: 'height: 200px; object-fit: cover;' %>
              <% else %>
                <div class="d-flex card-img-top text-center justify-content-center bg-light" style="height: 200px;">
                  <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
                </div>
              <% end %>
              <h5 class="card-title mt-2"><%= portion.name %></h5>
              <p class="card-text"><%= portion.description %></p>
              <p class="card-text"><strong><%= number_to_currency(portion.price) %></strong></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tagModalLabel"><%= t'.select_tag'%></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <% Tag.all.each do |tag| %>
              <div class="col-6 col-md-4 mb-2">
                <%= button_to tag.name, add_tag_establishment_beverage_path(@establishment, @beverage, tag_id: tag.id), method: :post, class: 'btn btn-sm btn-outline-info w-100' %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>