<section id="Info">
  <h1 class="display-4 text-center my-4"> <%= t '.title' %> </h1>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <% if @beverage.image.attached? %>
            <%= image_tag @beverage.image, class: 'card-img-top img-fluid', style: 'height: 400px; object-fit: cover;' %>
          <% else %>
            <div class="card-img-top text-center bg-light" style="height: 200px;">
              <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
            </div>
          <% end %>
          <div class="card-header text-center">
            <h2><%= @beverage.name %></h2>
          </div>
          <div class="card-body">
            <p class="card-text">
              <strong><%=Beverage.human_attribute_name :description%>:</strong> <%= @beverage.description %>
            </p>

            <p class="card-text">
              <strong><%=Beverage.human_attribute_name :calories%>:</strong> <%= @beverage.calories %> cal
            </p>

            <p class="card-text">
              <% if @beverage.alcoholic %>
                <strong><%=Beverage.human_attribute_name :alcoholic%></strong> 
              <% end %>
            </p>
          </div>

          <div class="d-flex card-footer text-center">
            <%= link_to t('.edit'), edit_establishment_beverage_path(@establishment, @beverage), class: 'btn btn-sm btn-outline-dark' %>
            <%= button_to t('.delete'), establishment_beverage_path(@establishment, @beverage), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-sm btn-outline-danger ms-3' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Portion">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3 class="display-4 text-center my-4"> <%= t '.portion_title' %> </h3>
    <%= link_to t('.add_new_portion'), new_establishment_beverage_portion_path(@establishment, @beverage), class: 'btn btn-outline-dark ms-3 mt-3' %>
  </div>

  <div class="row">
    <% @portions.each do |portion| %>
      <div class="col-md-4">
        <div class="card mb-4 <%= 'bg-light text-muted' unless portion.active %>">
          <div class="card-body">
            <% if portion.image.attached? %>
              <%= image_tag portion.image, class: 'card-img-top img-fluid', style: 'height: 200px; object-fit: cover;' %>
            <% else %>
              <div class="d-flex card-img-top text-center justify-content-center bg-light" style="height: 200px;">
                <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
              </div>
            <% end %>
            <h5 class="card-title mt-2"><%= portion.name %></h5>
            <p class="card-text"><%= portion.description %></p>
            <p class="card-text"><strong><%= number_to_currency(portion.price) %></strong></p>
            <% if portion.active %>
              <span class="badge bg-success"><%= Portion.human_attribute_name(:active) %></span>
            <% else %>
              <span class="badge bg-danger"><%=t '.not'%> <%= Portion.human_attribute_name(:active) %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

