<div class="container text-center my-5">
  <h1 class="display-4 mb-4"><%= t '.title' %></h1>

  <% if user_signed_in? %>
    <%= link_to t('.my_establishment'), current_user.establishment, class: 'btn btn-dark btn-lg mx-2' %>
    <%= link_to t('.search_items'), establishment_items_path(current_user.establishment), class: 'btn btn-dark btn-lg mx-2' %>

    <% unless current_user.establishment.present? %>
      <%= link_to t('.register_establishment'), new_establishment_path, class: 'btn btn-dark btn-lg mx-2' %>
      <p class="lead"><%=t '.please_create_establishment'%></p>
    <% end %>

  <% else %>
    <p class="lead"><%=t '.please_login'%></p>
  <% end %>
</div>


<% if user_signed_in? %>
  <h3 class="display-4 text-center mb-4"><%= t '.menu_title' %></h3>
  <% if @menus.any? %>
    <div id="menuCarousel" class="carousel slide custom-carousel"  data-bs-interval="false">
      <div class="carousel-inner">
        <% @menus.each_with_index do |menu, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">

            <div class="card shadow-sm">
              <div class="card-header">
                <h5><%= menu.name %></h5>
              </div>
              <div class="card-body">
                <span><%= t '.dish_title' %>:</span>
                <ul class="list-unstyled">
                  <div class="border rounded p-2 mb-2">
                    <% if menu.items.dish.empty? %>
                      <p class="text-muted"><%= t '.no_dishs' %></p>
                    <% end %>
                    <% menu.items.dish.each do |item| %>
                      <li class="mb-1">
                        <strong><%= item.name %></strong> - <span class="text-muted"><%= item.description %></span>
                        <% if item.portions.any? %>
                          <div class="d-flex flex-wrap mt-2">
                            <% item.portions.each do |portion| %>
                              <% if portion.active %>
                                <span class="badge bg-primary rounded-pill me-2 mb-2">
                                  <%= portion.name %> - <%= number_to_currency(portion.price) %>
                                </span>
                              <% else %>
                                <span class="badge bg-secondary rounded-pill me-2 mb-2">
                                  <%= portion.name %> - <%= t '.unavailable' %>
                                </span>
                              <% end %>
                            <% end %>
                          </div>
                        <% else %>
                          <p class="text-muted"><%= t '.no_portions' %></p>
                        <% end %>
                      </li>
                    <% end %>
                  </div>
                </ul>
                <span><%= Beverage.model_name.human(count: 2) %>:</span>
                <ul class="list-unstyled">
                  <div class="border rounded p-2 mb-2">
                    <% if menu.items.beverage.empty? %>
                      <p class="text-muted"><%= t '.no_beverages' %></p>
                    <% end %>
                    <% menu.items.beverage.each do |item| %>
                      <li class="mb-1">
                        <strong><%= item.name %></strong> - <span class="text-muted"><%= item.description %></span> 
                        <% if item.alcoholic? %>
                          <span class="text-muted">- <i> <%= Beverage.human_attribute_name(:alcoholic) %> </i> </span>
                        <% end %>
                        <% if item.portions.any? %>
                          <div class="d-flex flex-wrap mt-2">
                            <% item.portions.each do |portion| %>
                              <% if portion.active %>
                                <span class="badge bg-primary rounded-pill me-2 mb-2">
                                  <%= portion.name %> - <%= number_to_currency(portion.price) %>
                                </span>
                              <% else %>
                                <span class="badge bg-secondary rounded-pill me-2 mb-2">
                                  <%= portion.name %> - <%= t '.unavailable' %>
                                </span>
                              <% end %>
                            <% end %>
                          </div>
                        <% else %>
                          <p class="text-muted"><%= t '.no_portions' %></p>
                        <% end %>
                      </li>
                    <% end %>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <button class="carousel-control-prev outside-carousel" type="button" data-bs-target="#menuCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next outside-carousel" type="button" data-bs-target="#menuCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  <% else %>
    <p class="lead"><%=t '.no_menus'%></p>
  <% end %>  
<% end %>

