<h1 class="display-4 text-center my-4"> <%= t '.title' %> </h1>

<section id="OrderInfos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card mb-4 shadow-sm">
          <div class="d-flex justify-content-between card-header">
            <h2><%=Order.model_name.human%> <%=@order.code.upcase%></h2>
            <%= link_to t('.edit'), edit_order_path(@order), class: 'btn btn-dark py-1 ms-3'%>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:name) %>:</strong> <%= @order.name %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:cpf) %>:</strong> <%= @order.cpf %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:email) %>:</strong> <%= @order.email %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:phone_number) %>:</strong> <%= @order.phone_number %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:status) %>:</strong> <%= I18n.t("status.#{@order.status}") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container w-50 mb-5">
  <%= render 'portion_orders', order: @order %>
</div>

<section id="PromotionInfos">
  <% unless @order.promotions.empty? %>
    <div class="container w-50 mb-4 card shadow-lg p-4">
      <h4><%=t '.promotion_title'%>:</h4>
      <ul class="list-group">
        <% @order.promotions.each do |promotion| %>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-white text-dark">
            <div>
              <strong><%= promotion.name %></strong>
            </div>
            <div class="d-flex text-end">
              <span><%= (promotion.percentage.to_f) * 100 %>%</span>
            </div>
          </li>
        <% end %>
        <li class="list-group-item d-flex justify-content-between align-items-center text-light bg-dark">
          <div>
            <strong><%=I18n.t('final_price')%></strong>:
          </div>
          <div class="text-end">
            <span><%= number_to_currency(@order.final_value) %></span>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</section>