<h1 class="display-4 text-center my-4"> <%= t '.title' %> </h1>

<section id="OrderInfos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2><%=Order.model_name.human%> <%=@order.code.upcase%></h2>
            <% #link_to t('.edit_order'), edit_order_path(@order), class: 'btn btn-outline-dark ms-3'%>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:name) %>:</strong> <%= @order.name %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:cpf) %>:</strong> <%= @order.cpf %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:email) %>:</strong> <%= @order.email %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:phone_number) %>:</strong> <%= @order.phone_number %></li>
            <li class="list-group-item"><strong><%= Order.human_attribute_name(:status) %>:</strong> <%= I18n.t("status.#{@order.status}") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <%= render 'portion_orders', order: @order %>
</div>