<h1 class="display-4 text-center my-4"> <%= t '.title' %> </h1>

<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-md-6">
      <%= form_with url: establishment_items_path(@establishment), method: :get, local: true, class: "d-flex" do |f| %>
        <%= f.text_field :query, class: "form-control me-2", placeholder: t('.search_for'), aria: { label: "Search" } %>
        <%= f.collection_select :tag_id, @tags, :id, :name, { prompt: t('.search_tag_for') }, { class: "form-select me-2 w-75" } %>
        <%= f.submit t('.search'), class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>

  <% if @items.empty? %>
    <div class="alert alert-warning text-center">
      <p> <%=t '.no_search_found'%> </p>
    </div>
  <% else %>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <% if item.image.attached? %>
              <%= image_tag item.image, class: 'card-img-top img-fluid', style: 'height: 200px; object-fit: cover;' %>
            <% else %>
              <div class="card-img-top text-center bg-light" style="height: 200px;">
                <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
              </div>
            <% end %>
            <div class="card-body">
              <div id="Tags" class="row mb-2 gx-2 gy-2">
                <% item.tags.each do |tag| %>
                  <div id="<%= dom_id(tag) %>" class="col-auto">
                    <span class="badge bg-info rounded-pill text-dark"><%= tag.name %></span>
                  </div>
                <% end %>
              </div>
              <% if item.dish? %>
                <%= link_to establishment_item_path(@establishment, item) do %>
                  <h5 class="card-title"><%=item.name%></h5>
                <% end %>
              <% else %>
                <%= link_to establishment_beverage_path(@establishment, item) do %>
                  <h5 class="card-title"><%=item.name%></h5>
                <% end %>
              <% end %>              
              <p class="card-text"><%= item.description %></p>
              <p class="card-text"><strong><%= item.calories %> cal</strong>
                <% if item.alcoholic %>
                  <small class="text-muted">- <b><%=Beverage.human_attribute_name :alcoholic if item.alcoholic%></b></small>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
