<section id="Info">
  <h1 class="display-4 text-center my-4"> <%= t '.title' %> </h1>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <% if @item.image.attached? %>
            <%= image_tag @item.image, class: 'card-img-top img-fluid', style: 'height: 400px; object-fit: cover;' %>
          <% else %>
            <div class="card-img-top text-center bg-light" style="height: 200px;">
              <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
            </div>
          <% end %>
          <div class="card-header text-center">
            <h2><%= @item.name %></h2>
          </div>
          <div class="card-body">
            <p class="card-text">
              <strong><%=Item.human_attribute_name :description%>:</strong> <%= @item.description %>
            </p>

            <p class="card-text">
              <strong><%=Item.human_attribute_name :calories%>:</strong> <%= @item.calories %> cal
            </p>
          </div>

          <div class="d-flex card-footer text-center">
            <%= link_to t('.edit'), edit_establishment_item_path(@establishment, @item), class: 'btn btn-sm btn-outline-dark' %>
            <%= button_to t('.delete'), establishment_item_path(@establishment, @item), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-sm btn-outline-danger ms-3' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Portion">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3 class="display-4 text-center my-4"> <%= t '.portion_title' %> </h3>
    <%= link_to t('.add_new_portion'), new_establishment_item_portion_path(@establishment, @item), class: 'btn btn-outline-dark ms-3' %>
  </div>
</section>