<% if portion.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading"> <%=t '.errors_message'%>:</h4>
    <ul class="mb-0">
      <% portion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex justify-content-center">
  <div class="col-md-6">
    <%= form_with model: [establishment, parent, portion], class: 'border p-4 shadow-sm' do |f| %>

      <div class="mb-3">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :description, class: 'form-label' %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :price, class: 'form-label' %>
        <div class="input-group">
          <span class="input-group-text"><%= I18n.t('number.currency.format.unit') %></span>
          <%= f.number_field :price, class: 'form-control', step: 0.01, min: 0 %>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :image, t('.image'), class: 'form-label' %>:
        <%= f.file_field :image, direct_upload: true, class: 'form-control' %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.submit t('.save'), class: 'btn btn-dark' %>
        <% if parent.item_type == 'dish' %>
          <%= link_to t('.cancel'), establishment_item_path(establishment, parent), class: 'btn btn-danger ms-3' %>
        <% else %>
          <%= link_to t('.cancel'), establishment_beverage_path(establishment, parent), class: 'btn btn-danger ms-3' %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>