<br>

<section id="EstablishmentInfos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2><%= t '.title' %></h2>
            <%=link_to t('.edit_establishment'), edit_establishment_path(@establishment), class: 'btn btn-outline-dark ms-3'%>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong><%= Establishment.human_attribute_name(:corporate_name) %>:</strong> <%= @establishment.corporate_name %></li>
            <li class="list-group-item"><strong><%= Establishment.human_attribute_name(:trade_name) %>:</strong> <%= @establishment.trade_name %></li>
            <li class="list-group-item"><strong><%= Establishment.human_attribute_name(:cnpj) %>:</strong> <%= @establishment.cnpj %></li>
            <li class="list-group-item"><strong><%= Establishment.human_attribute_name(:full_address) %>:</strong> <%= @establishment.full_address %></li>
            <li class="list-group-item"><strong><%= Establishment.human_attribute_name(:phone_number) %>:</strong> <%= @establishment.phone_number %></li>
            <li class="list-group-item"><strong><%= Establishment.human_attribute_name(:email) %>:</strong> <%= @establishment.email %></li>
            <li class="list-group-item"><strong><%= Establishment.human_attribute_name(:code) %>:</strong> <%= @establishment.code %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="OpeningHours">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3> <%=t '.opening_hour_title'%> </h3>
    <% unless @establishment.opening_hours.length == 7 %>
      <%= link_to t('.add_opening_hour'), new_establishment_opening_hour_path(@establishment), class: 'btn btn-outline-dark ms-3' %>
    <% end %>
  </div>
  <% if @establishment.opening_hours.empty? %>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
      <p class="lead text-muted text-center"><%= t '.please_add_opening_hour' %></p>
    </div>
  <% else %>
    <div class="row justify-content-center mx-3">
      <% @establishment.opening_hours.order(:day_of_week).each do |hour| %>
        <div class="col-md-3 my-4">
          <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
              <%= I18n.t('date.day_names')[hour.day_of_week] %>
              <%= link_to 'Editar', edit_establishment_opening_hour_path(@establishment, hour), class: 'btn btn-outline-dark btn-sm ms-4' %>
            </div>
            <div class="card-body">
              <% if hour.open_today? %>
                <p class="card-text">
                  <%=hour.opening_time.strftime("%H:%M")%> <%=I18n.t('to')%> <%=hour.closing_time.strftime("%H:%M")%> <%=I18n.t('hour').pluralize%>
                </p>
              <% else %>
                <p class="card-text">
                  <%= OpeningHour.human_attribute_name(:closed) %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
  <% end %>
</div>

  <% end %>
</section>

<section id="Dishs">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3><%= t '.dish_title' %></h3>
    <%= link_to t('.add_new_dish'), new_establishment_item_path(@establishment), class: 'btn btn-outline-dark ms-3' %>
  </div>
  
  <% if @dishs.empty? %>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
      <p class="lead text-muted text-center"><%= t '.no_dishes_found' %></p>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <div id="dishCarousel" class="carousel slide col-md-6 col-lg-8" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @dishs.each_with_index do |item, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= link_to establishment_item_path(@establishment, item) do %>
                <div class="card mb-3 shadow-sm">
                  <% if item.image.attached? %>
                    <%= image_tag item.image, class: 'card-img-top img-fluid', style: 'height: 300px; object-fit: cover;' %>
                  <% else %>
                    <div class="card-img-top d-flex align-items-center justify-content-center text-center bg-light" style="height: 300px;">
                      <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
                    </div>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text"><%= item.description %></p>
                    <p class="card-text">
                      <small class="text-muted">- <%= item.calories %> cal</small>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#dishCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dishCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <% end %>
</section>

<section id="Beverages">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3><%= t '.beverage_title' %></h3>
    <%= link_to t('.add_new_beverage'), new_establishment_beverage_path(@establishment), class: 'btn btn-outline-dark ms-3' %>
  </div>
   <% if @beverages.empty? %>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
      <p class="lead text-muted text-center"><%= t '.no_beverages_found' %></p>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <div id="beverageCarousel" class="carousel slide col-md-6 col-lg-8" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @beverages.each_with_index do |item, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= link_to establishment_beverage_path(@establishment, item) do %>
                <div class="card mb-3 shadow-sm">
                  <% if item.image.attached? %>
                    <%= image_tag item.image, class: 'card-img-top img-fluid', style: 'height: 300px; object-fit: cover;' %>
                  <% else %>
                  <div class="card-img-top d-flex align-items-center justify-content-center bg-light" style="height: 300px;">
                    <p class="text-muted mt-5"> <%=t '.no_image_found'%> </p>
                  </div>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text"><%= item.description %></p>
                    <p class="card-text">
                      <small class="text-muted"><%=Beverage.human_attribute_name :alcoholic if item.alcoholic%> - <%=item.calories%> cal</small>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#beverageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#beverageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <% end %>
</section>


