<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light px-4">
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex">
            <%= link_to 'PaLevá', root_path, class: 'navbar-brand' %>
            <% if user_signed_in? && current_user.admin?%>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%=t '.navbar.register'%></button>
                <ul class="dropdown-menu" aria-labelledby="cadastrosDropdown">
                  <li><%= link_to Tag.model_name.human(count: 2), new_tag_path, class: 'dropdown-item' %></li>
                  <li><%= link_to Menu.model_name.human(count: 2), new_menu_path, class: 'dropdown-item' %></li>
                  <li><%= link_to t('.navbar.employee_register'), new_employee_path, class: 'dropdown-item' %></li>
                </ul>
              </div>
            <% end %>
          </div>

          <div class="d-inline-flex align-items-center">
            <% if user_signed_in? %>
              <%= render 'shared/user_cart' %>
              <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#userSidebar">
                <span class="navbar-text ms-3"><%= t('.navbar.welcome', name: current_user.first_name) %></span>
              </a>
              <%= render 'shared/user_sidebar' %>
            <% else %>
              <%= link_to t('.navbar.login'), new_user_session_path, class: 'btn btn-outline-primary py-1' %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <div class="container my-3">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
