<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light px-4">
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex">
            <%= link_to 'PaLevá', root_path, class: 'navbar-brand' %>
            <% if user_signed_in? %>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastros</button>
                <ul class="dropdown-menu" aria-labelledby="cadastrosDropdown">
                  <li><%= link_to Tag.model_name.human(count: 2), new_tag_path, class: 'dropdown-item' %></li>
                  <li><%= link_to Menu.model_name.human(count: 2), new_menu_path, class: 'dropdown-item' %></li>
                </ul>
              </div>
            <% end %>
          </div>

          <div class="d-inline-flex align-items-center">
            <% if user_signed_in? %>
              <span class="navbar-text">Olá, <%= current_user.first_name %></span>

              <div class="dropdown ms-3">
                <button class="btn btn-outline-dark position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                  </svg>
                  <% if @order && @order.portions.any? %>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      <%sum = 0%>
                      <% @order.portion_orders.each do |portion_order| %>
                         <%sum += portion_order.quantity%>
                      <% end %>
                      <%=sum%>
                    </span>
                  <% end %>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="orderDropdown">
                  <% if @order && @order.portion_orders.any? %>
                    <% @order.portion_orders.each do |portion_order| %>
                      <li class="dropdown-item">
                        <%= portion_order.portion.item.name %>, <%=portion_order.portion.name%> - <%=number_to_currency(portion_order.portion.price)%> x <%=portion_order.quantity%>
                      </li>
                    <% end %>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item text-center">
                      <%= link_to "Ver Pedido", root_path, class: 'btn btn-primary' %>
                    </li>
                  <% else %>
                    <li class="dropdown-item text-muted">Nenhum item adicionado</li>
                  <% end %>
                </ul>
              </div>
              <%= button_to I18n.t('logout'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark ms-3 py-1' %>
            <% else %>
              <%= link_to I18n.t('login'), new_user_session_path, class: 'btn btn-outline-primary py-1' %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <div class="container my-3">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
